<div class = "container justify-content-center">
  <%# NAVBAR %>
  <div>

  </div>

  <%# FILTERS %>
  <div class="cards">
    <div class="card-category">
      <a href=""><i class="fa-solid fa-biohazard"></i><span>Zombie-Free</span></a>
    </div>

    <div class="card-category">
      <a href=""><i class="fa-solid fa-music"></i><span>Rave</span></a>
    </div>

    <div class="card-category">
      <a href=""><i class="fa-solid fa-laptop"></i><span>Coding Heaven</span></a>
    </div>

    <div class="card-category">
      <a href=""><i class="fa-solid fa-smoking"></i><span>Cigar&Chill</span></a>
    </div>

    <div class="card-category">
      <a href=""><i class="fa-solid fa-landmark"></i><span>History</span></a>
    </div>

    <div class="card-category">
      <a href=""><p class="filter-button"><i class="fa-solid fa-filters"></i> Filters</p></a>
    </div>

  </div>

  <%# CARDS %>
  <div class="bunker-card d-flex align-content-center justify-content-center flex-wrap">
    <% @bunkers.each do |bunker| %>
      <div class="row pt-5 mx-1" style="width: 18rem;">
        <div class="col-12">
            <img class="bunker-image card-img-top rounded" src="<%= cl_image_path bunker.cover_photo.key, height: 300, crop: :fill %>" alt="Card image cap">
          <div class="col mb-3 px-0 align-items-stretch">
              <div class="card-body bunker-details pl-0">
                <h5 class="card-title border-bottom"> <%= bunker.name.truncate(24) %></h5>
                <p>⭐️ <%= '%.2f' % rand(2.0..5)%>
                <p class="card-text"><%= bunker.location %></p>
                <p class="card-text">€<%= bunker.price %> night</p>
              </div>
              <div>
                <%= link_to "View", bunker_path(bunker.id), class: "btn btn-sm btn-outline-dark"%>
              </div>
          </div>
        </div>
      </div>
    <% end %>

  </div>
</div>
