<div class="container">


  <%# MOBILE TITLE BAR %>
  <div class="">
    <div><h3> My bunkers & Received Bookings: <%= current_user.email %> </h3></div>
    <div><p>You have <%= @mybunkers.count %> listed on Bunker & Breakfast. Equivalent to <%= @totalcash %>€ of accepted revenue</p></div>
  </div>

  <div>
    <% @mybunkers.each do |bunker| %>
      <div class="card-product justify-content-between">
        <img src="https://images.unsplash.com/photo-1482670205041-1281b9faf4b9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" />
        <div class="card-product-infos">
          <h2> <%= bunker.name %></h2>
          <p>This listing has <strong><%= bunker.bookings.count %></strong> bookings.</p>
          <p><%= link_to "View my listing", bunker_path(bunker.id)%><p>
        </div>
        <div class="figures border-left pl-3">
          <p>Total booking: <%= bunker.bookings.count %></p>
          <% acceptedbooking = bunker.bookings.where(status: "Accepted") %>
          <p>Accepted bookings: <%= acceptedbooking.count %> </p>
          <% rejectedbooking = bunker.bookings.where(status: "Rejected") %>
          <p>Rejected bookings: <%= rejectedbooking.count %> </p>
          <% acceptedbooking = bunker.bookings.where(status: "Accepted") %>
          <% sum = 0 %>
          <% acceptedbooking.each { |b| sum += b.total_price }%>
          <p>Total revenue: <%= '%.2f' % sum %>€ </p>
        </div>
      </div>

    <% if bunker.bookings.count == 0 %>
      <h6 class="m-5">You have no booking to review, accept or reject for this bunker</h6>
    <% else %>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col">Who</th>
            <th scope="col">Price</th>
            <th scope="col">Status</th>
            <th scope="col" style="text-align: center">Accept / Reject</th>
          </tr>
        </thead>
        <tbody>
            <% bunker.bookings.each do |booking| %>
              <tr>
                <th><%= booking.start_date %></th>
                <td><%= booking.end_date %></td>
                <td><%= booking.user.email %></td>
                <td><%= booking.total_price %>€</td>
                <td><%= booking.status %></td>
                <td style="text-align: center">
                  <i class="fa-regular fa-circle-check mr-2" style="color: #1EDD88; font-size: 20px"></i>
                  <i class="fa-solid fa-xmark" style="color: #FD1015; font-size: 20px"></i>
                </td>
              </tr>
            <% end %>
        </tbody>
      </table>
    <% end %>




    <% end %>
  </div>

</div>
