<div class="container">

<%# MOBILE IMAGE SLIDER %>
  <div class="">

  </div>

<%# MOBILE TITLE BAR %>
  <div class="">
    <div><h3><%= @bunker.name %></h3></div>
    <div>⭐️ 5.0 | 5 reviews | <%= @bunker.category %> |  <%= @bunker.location %></div>
  </div>

<%# MULTI IMAGE BLOCK %>

  <div class="flex-container mt-2" id="multi-image-block">
    <%# INSERT IMAGE #2 %>
    <div class="flex-items shadow" id="photo1" style="background-image: linear-gradient(to bottom, rgba(255, 153, 187, 0.30), rgba(133, 255, 214, 0.50)), url('<%= cl_image_path @bunker.cover_photo.key, height: 300, crop: :fill %>')"></div>
    <div class="flex-items  shadow">
      <div class="flex2-container">
        <%# INSERT IMAGE #2 %>
        <div class="flex2-items shadow" style="background-image: linear-gradient(to bottom, rgba(255, 153, 187, 0.30), rgba(133, 255, 214, 0.50)), url('<%= cl_image_path @bunker.photos[0].key.to_s, height: 300, crop: :fill %>')"></div>
        <%# INSERT IMAGE #3 %>
        <div class="flex2-items shadow" style="background-image:  linear-gradient(to bottom, rgba(255, 153, 187, 0.30), rgba(133, 255, 214, 0.50)), url('<%= cl_image_path @bunker.photos[1].key, height: 300, crop: :fill %>')"></div>
      </div>
    </div>
    <div class="flex-items">
      <div class="flex2-container">
        <%# INSERT IMAGE #4 %>
        <div class="flex2-items shadow photo4" id="photo4" style="background-image:  linear-gradient(to bottom, rgba(255, 153, 187, 0.30), rgba(133, 255, 214, 0.50)), url('<%= cl_image_path @bunker.photos[2].key, height: 300, crop: :fill %>')"></div>
        <%# INSERT IMAGE #5 %>
        <div class="flex2-items shadow photo5" id="photo5" style="background-image:  linear-gradient(to bottom, rgba(255, 153, 187, 0.30), rgba(133, 255, 214, 0.50)), url('<%= cl_image_path @bunker.photos[3].key, height: 300, crop: :fill %>')"></div>
      </div>
    </div>
  </div>


<%# DESCRIPTION BLOCK %>
  <div class="flex3-container mt-5">
    <div class="flex3-items ">

      <div><h4>Entire bunker hosted by <strong>Edouard</strong></h4></div>
      <div  class="border-bottom mb-4"><p><%= @bunker.max_capacity %> guests | <%= @bunker.bedroom %> bedrooms | <%= @bunker.bed %> beds | <%= @bunker.bathroom %> baths</p></div>
      <%# 3 BEST FEATURES %>

      <%# BUNKER COVER %>
      <div><h1><strong>BUNKER<span style="color: #FF7C0A">COVER</span></strong></h1></div>
      <div  class="border-bottom mb-4"><p>Every booking includes free protection from Host cancellations, listing inaccuracies, and other issues like trouble checking in.</p></div>

      <%# ABOUT THIS SPACE %>
      <div><h4>About this space</h4></div>
      <div><p> <%= @bunker.description %></p></div>

      <%# EDIT AND DELETE BUNKER %>
      <div class="d-flex">
        <% if policy(@bunker).edit? %>
          <%= link_to "Edit this bunker", edit_bunker_path(@bunker) , class: "btn btn-warning mr-1" %>
        <% end %>
        <%= button_to "Destroy this bunker", @bunker, class: "btn btn-warning", method: :delete if policy(@bunker).destroy? %>
      </div>
    </div>

    <div class="flex3-items">
      <div id="booking-component" class="shadow-lg">
      <%# INSERT BOOKING COMPONENT HERE %>
        <h4 class="mb-3 border-bottom pb-3">Book this Bunker now!</h4>
        <%= simple_form_for @booking, data: { controller: 'flatpickr' } do |f| %>
          <%= f.input :start_date,as: :string, input_html: { data: { flatpickr_target: "start_date" } } %>
          <%= f.input :end_date,as: :string, input_html: { data: { flatpickr_target: "end_date" } } %>
          <%= f.input :number_of_guests, class: "form-control" %>
          <%= f.input :bunker_id, :as => :hidden, :input_html => { :value => @bunker.id } %>
          <%= f.button :submit, class: "btn-main"%>
        <% end %>
      </div>
    </div>

  </div>


</div>
